.gp-chat-sample-interaction-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.gp-chat-sample-interaction-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.gp-chat-sample-interaction-image {
  height: 2rem;
}
.gp-chat-sample-interaction-nav {
  display: flex;
}
.gp-chat-sample-interaction-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gp-chat-sample-interaction-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.gp-chat-sample-interaction-burger-menu {
  display: none;
}
.gp-chat-sample-interaction-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gp-chat-sample-interaction-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.gp-chat-sample-interaction-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gp-chat-sample-interaction-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gp-chat-sample-interaction-image1 {
  height: 2rem;
}
.gp-chat-sample-interaction-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gp-chat-sample-interaction-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gp-chat-sample-interaction-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gp-chat-sample-interaction-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gp-chat-sample-interaction-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gp-chat-sample-interaction-container2 {
  width: 100%;
  height: 739px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gp-chat-sample-interaction-row-container {
  width: 100%;
  height: 127px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.gp-chat-sample-interaction-icon10 {
  width: 24px;
  height: 24px;
}
.gp-chat-sample-interaction-text03 {
  padding-left: var(--dl-space-space-fourunits);
}
.gp-chat-sample-interaction-row-container1 {
  width: 100%;
  height: 201px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.gp-chat-sample-interaction-text04 {
  text-align: left;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.gp-chat-sample-interaction-text06 {
  font-weight: 700;
  text-decoration: underline;
}
.gp-chat-sample-interaction-text08 {
  font-weight: 700;
}
.gp-chat-sample-interaction-text10 {
  font-weight: 700;
}
.gp-chat-sample-interaction-text16 {
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
}
.gp-chat-sample-interaction-row-container2 {
  width: 100%;
  height: 247px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.gp-chat-sample-interaction-container3 {
  width: var(--dl-size-size-xxlarge);
  height: 136px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gp-chat-sample-interaction-container4 {
  width: var(--dl-size-size-xxlarge);
  height: 144px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gp-chat-sample-interaction-container5 {
  width: var(--dl-size-size-xxlarge);
  height: 138px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gp-chat-sample-interaction-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  justify-content: flex-start;
}
.gp-chat-sample-interaction-textinput {
  width: 80%;
  margin-left: var(--dl-space-space-twounits);
  border-radius: 0px;
}
.gp-chat-sample-interaction-button3 {
  color: #ffffff;
  width: 163px;
  height: 37px;
  align-self: center;
  text-align: center;
  border-radius: 0px;
  background-color: rgb(28, 96, 206);
}
@media(max-width: 767px) {
  .gp-chat-sample-interaction-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gp-chat-sample-interaction-nav {
    display: none;
  }
  .gp-chat-sample-interaction-btn-group {
    display: none;
  }
  .gp-chat-sample-interaction-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .gp-chat-sample-interaction-header {
    padding: var(--dl-space-space-unit);
  }
  .gp-chat-sample-interaction-mobile-menu {
    padding: 16px;
  }
}
