.listings-businesslistings-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.listings-businesslistings-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.listings-businesslistings-logo {
  height: 2rem;
}
.listings-businesslistings-desktop-menu {
  display: flex;
}
.listings-businesslistings-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.listings-businesslistings-navlink {
  top: 41px;
  right: 250px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.listings-businesslistings-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.listings-businesslistings-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.listings-businesslistings-register {
  text-decoration: none;
}
.listings-businesslistings-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.listings-businesslistings-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.listings-businesslistings-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.listings-businesslistings-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.listings-businesslistings-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.listings-businesslistings-image {
  height: 2rem;
}
.listings-businesslistings-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.listings-businesslistings-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.listings-businesslistings-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.listings-businesslistings-text {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-businesslistings-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-businesslistings-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-businesslistings-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-businesslistings-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-businesslistings-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.listings-businesslistings-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.listings-businesslistings-icon-group {
  display: flex;
}
.listings-businesslistings-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.listings-businesslistings-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.listings-businesslistings-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.listings-businesslistings-blog {
  width: 100%;
  height: 1556px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: space-between;
}
.listings-businesslistings-navlink1 {
  top: 58px;
  color: var(--dl-color-gray-white);
  right: 62px;
  position: absolute;
  font-size: 0.75rem;
  transition: 0.3s;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.listings-businesslistings-navlink1:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.listings-businesslistings-text5 {
  align-self: flex-start;
}
.listings-businesslistings-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.listings-businesslistings-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.listings-businesslistings-container5 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.listings-businesslistings-blog1 {
  width: 100%;
  height: 1415px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.listings-businesslistings-navlink2 {
  display: contents;
}
.listings-businesslistings-component {
  text-decoration: none;
}
.listings-businesslistings-container6 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.listings-businesslistings-navlink3 {
  display: contents;
}
.listings-businesslistings-component1 {
  text-decoration: none;
}
.listings-businesslistings-navlink4 {
  display: contents;
}
.listings-businesslistings-component2 {
  text-decoration: none;
}
.listings-businesslistings-navlink5 {
  display: contents;
}
.listings-businesslistings-component3 {
  text-decoration: none;
}
@media(max-width: 767px) {
  .listings-businesslistings-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .listings-businesslistings-desktop-menu {
    display: none;
  }
  .listings-businesslistings-btn-group {
    display: none;
  }
  .listings-businesslistings-burger-menu {
    display: flex;
  }
  .listings-businesslistings-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .listings-businesslistings-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .listings-businesslistings-container6 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .listings-businesslistings-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .listings-businesslistings-mobile-menu {
    padding: 16px;
  }
  .listings-businesslistings-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .listings-businesslistings-navlink1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .listings-businesslistings-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
