node_modules
.env
main/.terraform.lock.hcl
main/.terraform/providers/registry.terraform.io/hashicorp/aws/5.0.0/darwin_arm64/terraform-provider-aws_v5.0.0_x5
main/AWSCLIV2.pkg
main/terraform.tfstate
main/terraform.tfstate.backup
