.component-container {
  display: flex;
  position: relative;
}
.component-select {
  width: 199px;
  height: 94px;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.component-root-class-name {
  top: 429px;
  left: 92px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
