.sign-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.sign-in-form {
  width: 760px;
  height: 231px;
  display: flex;
  align-items: flex-start;
  margin-right: 110px;
  justify-content: center;
}
.sign-in-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: small;
  margin-left: 6px;
}
.sign-in-text05 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.sign-in-text06 {
  align-self: flex-start;
  margin-top: 27px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.sign-in-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-in-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-in-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-in-textinput {
  width: 466px;
  height: 41px;
  text-align: center;
}
.sign-in-textinput1 {
  width: 100%;
  height: 39px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.sign-in-text07 {
  font-size: 14px;
  align-self: flex-end;
  font-weight: 300;
  text-transform: capitalize;
}
.sign-in-button {
  width: 470px;
  height: 35px;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.sign-in-text08 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.sign-in-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-in-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-in-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-in-button1 {
  display: inline;
}
.sign-in-button2 {
  display: inline;
}
.sign-in-button3 {
  display: inline;
}
.sign-in-text09 {
  padding-top: var(--dl-space-space-fiveunits);
}
