.assignments-milestone-review-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.assignments-milestone-review-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.assignments-milestone-review-image {
  height: 2rem;
}
.assignments-milestone-review-nav {
  display: flex;
}
.assignments-milestone-review-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.assignments-milestone-review-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.assignments-milestone-review-burger-menu {
  display: none;
}
.assignments-milestone-review-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.assignments-milestone-review-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.assignments-milestone-review-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.assignments-milestone-review-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.assignments-milestone-review-image1 {
  height: 2rem;
}
.assignments-milestone-review-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.assignments-milestone-review-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.assignments-milestone-review-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.assignments-milestone-review-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.assignments-milestone-review-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.assignments-milestone-review-textarea {
  width: 368px;
  height: 169px;
}
.assignments-milestone-review-navlink {
  text-decoration: none;
}
@media(max-width: 767px) {
  .assignments-milestone-review-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .assignments-milestone-review-nav {
    display: none;
  }
  .assignments-milestone-review-btn-group {
    display: none;
  }
  .assignments-milestone-review-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .assignments-milestone-review-header {
    padding: var(--dl-space-space-unit);
  }
  .assignments-milestone-review-mobile-menu {
    padding: 16px;
  }
}
