.listings-fulldesc-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.listings-fulldesc-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.listings-fulldesc-logo {
  height: 2rem;
}
.listings-fulldesc-desktop-menu {
  display: flex;
}
.listings-fulldesc-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.listings-fulldesc-navlink {
  top: 41px;
  right: 250px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.listings-fulldesc-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.listings-fulldesc-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.listings-fulldesc-register {
  text-decoration: none;
}
.listings-fulldesc-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.listings-fulldesc-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.listings-fulldesc-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.listings-fulldesc-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.listings-fulldesc-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.listings-fulldesc-image {
  height: 2rem;
}
.listings-fulldesc-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.listings-fulldesc-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.listings-fulldesc-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.listings-fulldesc-text {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-fulldesc-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-fulldesc-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-fulldesc-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-fulldesc-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.listings-fulldesc-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.listings-fulldesc-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.listings-fulldesc-icon-group {
  display: flex;
}
.listings-fulldesc-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.listings-fulldesc-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.listings-fulldesc-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.listings-fulldesc-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.listings-fulldesc-textinput {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-threeunits);
}
.listings-fulldesc-navlink1 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.listings-fulldesc-navlink1:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.listings-fulldesc-blog {
  width: 100%;
  height: 1354px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 48px;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: space-between;
}
.listings-fulldesc-text05 {
  top: 48px;
  left: 48px;
  position: absolute;
  align-self: flex-start;
}
.listings-fulldesc-blog-post-card {
  width: 100%;
  height: 664px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.listings-fulldesc-image1 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.listings-fulldesc-container4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.listings-fulldesc-text06 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.listings-fulldesc-text09 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.listings-fulldesc-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.listings-fulldesc-profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.listings-fulldesc-image2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.listings-fulldesc-text17 {
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.listings-fulldesc-text18 {
  color: var(--dl-color-gray-700);
  font-weight: 300;
}
.listings-fulldesc-navlink2 {
  left: 517px;
  bottom: 36px;
  position: absolute;
  text-decoration: none;
}
.listings-fulldesc-container6 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.listings-fulldesc-blog-post-card1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.listings-fulldesc-register2 {
  top: 50px;
  right: 49px;
  position: absolute;
  text-decoration: none;
}
.listings-fulldesc-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.listings-fulldesc-container8 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.listings-fulldesc-navlink3 {
  top: 640px;
  left: 658px;
  position: absolute;
  text-decoration: none;
}
@media(max-width: 991px) {
  .listings-fulldesc-image1 {
    height: 350px;
  }
}
@media(max-width: 767px) {
  .listings-fulldesc-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .listings-fulldesc-desktop-menu {
    display: none;
  }
  .listings-fulldesc-btn-group {
    display: none;
  }
  .listings-fulldesc-burger-menu {
    display: flex;
  }
  .listings-fulldesc-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .listings-fulldesc-blog-post-card1 {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .listings-fulldesc-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .listings-fulldesc-mobile-menu {
    padding: 16px;
  }
  .listings-fulldesc-container3 {
    align-items: center;
    flex-direction: column;
  }
  .listings-fulldesc-navlink1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .listings-fulldesc-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
