.registration-company-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  /* padding-top: var(--dl-space-space-twounits); */
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.registration-company-form {
  width: 760px;
  height: 780px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.registration-company-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration-company-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration-company-text03 {
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.registration-company-text04 {
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.registration-company-text05 {
  align-self: flex-start;
  margin-top: 3px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.registration-company-text06 {
  align-self: flex-start;
  margin-top: 3px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.registration-company-text07 {
  align-self: flex-start;
  margin-top: 3px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.registration-company-text11 {
  align-self: flex-start;
  margin-top: 3px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.registration-company-text15 {
  align-self: flex-start;
  margin-top: 50px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.registration-company-text21 {
  align-self: flex-start;
  margin-top: 3px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.registration-company-text27 {
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.registration-company-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration-company-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration-company-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration-company-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration-company-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration-company-container8 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration-company-textinput1 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.registration-company-textinput2 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.registration-company-input {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.registration-company-input1 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.registration-company-select {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.registration-company-textarea {
  width: 100%;
  height: 129px;
}
.registration-company-textinput3 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.registration-company-textarea1 {
  width: 100%;
  height: 129px;
  margin-top: var(--dl-space-space-unit);
}
.registration-company-file{
  margin-top: var(--dl-space-space-unit);
  margin-left: 0px;
  padding-left: 110px;
}