.registration-initial-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.registration-initial-text {
  margin-bottom: var(--dl-space-space-fourunits);
}
.registration-initial-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.registration-initial-container2 {
  flex: 0 0 auto;
  width: 441px;
  height: 396px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 4px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}
.registration-initial-text02 {
  font-size: 25px;
}
.registration-initial-ul {
  width: 338px;
  list-style-type: disc;
}
.registration-initial-text03 {
  font-size: 20px;
}
.registration-initial-text04 {
  font-size: 20px;
}
.registration-initial-text05 {
  font-size: 20px;
}
.registration-initial-navlink {
  text-decoration: none;
}
.registration-initial-container3 {
  border-style: solid;
  flex: 0 0 auto;
  width: 441px;
  height: 396px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 4px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}
.registration-initial-text07 {
  font-size: 25px;
}
.registration-initial-ul1 {
  width: 338px;
  list-style-type: disc;
}
.registration-initial-text08 {
  font-size: 20px;
}
.registration-initial-text09 {
  font-size: 20px;
}
.registration-initial-text10 {
  font-size: 20px;
}
.registration-initial-navlink1 {
  text-decoration: none;
}
